.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 30px;
  color: #203eac;
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  animation: open 1s;
}

.title {
  margin: 30px 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.description {
  margin-bottom: 20px;
  font-size: 14px;
}

button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #203eac;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

button:hover {
  box-shadow: 0px 0px 10px #203eac;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  40% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 180px;
    height: 180px;
  }
}
