.login {
  padding-top: 80px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 10px;
}

.input {
  width: 400px;
  height: 100px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #203eac;
}
